*{font-size: 100%;  

}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    
}
#input{
  background-color: rgb(230,230,230);
  flex: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
  word-wrap: break-word;  
  }
#shizi{
  
  font-size: 200%;
  margin-bottom: 0;
  margin-top: 2%;
  line-height: 1em;
  
}
#jieguo{
  font-size: 200%;
  margin-bottom: 0;
  margin-top: 2%;
  align-self: flex-end;
  
}
#pad{
  background-color: rgb(230,230,230);
  width: 100%;  
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.padline{
  display: flex;
  margin-bottom: 0;
  margin-top: 2%;
  
}
#pad button{
  font-size: 200%;
  text-align: center; 
  width: 25%;
  margin: 0.5%;  

}
.symbutton{  
  border-color: rgb(240,240,240);
  border-style: solid;   
  background-color: rgb(240,240,240);}
.numbutton { 
  border-color: rgb(250,250,250);
  border-style: solid;   
  background-color: rgb(250,250,250);}
